## Data Analysis on Video Game Sales

- We will be exploring a Video Game Sales dataset from kaggle
- Dataset can be downloaded here: https://www.kaggle.com/gregorut/videogamesales
- Try to provide all the solutions using the pandas library as much as possible

## Import necessary libraries and read the dataset into a pandas dataframe

In [2]:
import pandas as pd
import csv
data = pd.read_csv('vgsales.csv')

## Q1: Display the first 10 entries of the data

In [3]:
data.head(10)

   Rank                       Name  ... Other_Sales  Global_Sales
0     1                 Wii Sports  ...        8.46         82.74
1     2          Super Mario Bros.  ...        0.77         40.24
2     3             Mario Kart Wii  ...        3.31         35.82
3     4          Wii Sports Resort  ...        2.96         33.00
4     5   Pokemon Red/Pokemon Blue  ...        1.00         31.37
5     6                     Tetris  ...        0.58         30.26
6     7      New Super Mario Bros.  ...        2.90         30.01
7     8                   Wii Play  ...        2.85         29.02
8     9  New Super Mario Bros. Wii  ...        2.26         28.62
9    10                  Duck Hunt  ...        0.47         28.31

[10 rows x 11 columns]

## Q2: 
- How many rows and columns are there in the data?
- Display the column names
- Display the unique genres of the video games in the data

In [8]:
rows, columns = data.shape
print(f"the data has {rows} Rows and {columns} Columns ")

the data has 16598 Rows and 11 Columns

In [9]:
data.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [10]:
data.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

## Q3: What is the name of the lowest sold video game in North America and highest sold video game in Japan?

In [13]:
data['Name','NA_Sales'].min()

KeyError: ignored

## Q4: What was the most common platform of the games being sold before and after 2008?

## Q5: Write a lambda function, combined with "apply" to create a new column called ***total_na_eu*** which is the total sales of North America and Europe

## Q6: For each of the publishers, display the average global sales per genre of the video games before the year 2010

## Q7: Display the median sales per platform across all the regions(NA, EU, JP, Other and Global)

## Q8: For each of the platforms, what is the most common video game that is sold, its corresponding genre and average global sales. All this data should be printed in a single row

## Q9: Find out the number of video games with the following names present in them:
- Mario
- Pokemon
- Call of Duty
- FIFA

#### The names of the games can have the above strings anywhere. For example we can have "Call of Duty:  Ghosts", "Call of Duty:  Blackops" etc. Similarly we can have "Super Mario", "Mario Kart", "New Super Mario" etc.