## Data Analysis on Video Game Sales

- We will be exploring a Video Game Sales dataset from kaggle
- Dataset can be downloaded here: https://www.kaggle.com/gregorut/videogamesales
- Try to provide all the solutions using the pandas library as much as possible

## Import necessary libraries and read the dataset into a pandas dataframe

In [1]:
import pandas as pd
import csv
data = pd.read_csv('vgsales.csv')

## Q1: Display the first 10 entries of the data

In [2]:
data.head(10)

   Rank                       Name  ... Other_Sales  Global_Sales
0     1                 Wii Sports  ...        8.46         82.74
1     2          Super Mario Bros.  ...        0.77         40.24
2     3             Mario Kart Wii  ...        3.31         35.82
3     4          Wii Sports Resort  ...        2.96         33.00
4     5   Pokemon Red/Pokemon Blue  ...        1.00         31.37
5     6                     Tetris  ...        0.58         30.26
6     7      New Super Mario Bros.  ...        2.90         30.01
7     8                   Wii Play  ...        2.85         29.02
8     9  New Super Mario Bros. Wii  ...        2.26         28.62
9    10                  Duck Hunt  ...        0.47         28.31

[10 rows x 11 columns]

## Q2: 
- How many rows and columns are there in the data?
- Display the column names
- Display the unique genres of the video games in the data

In [3]:
rows, columns = data.shape
print(f"the data has {rows} Rows and {columns} Columns ")

the data has 16598 Rows and 11 Columns

In [4]:
data.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [5]:

data.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

## Q3: What is the name of the lowest sold video game in North America and highest sold video game in Japan?

In [6]:
data[['Name','NA_Sales']]

                                                   Name  NA_Sales
0                                            Wii Sports     41.49
1                                     Super Mario Bros.     29.08
2                                        Mario Kart Wii     15.85
3                                     Wii Sports Resort     15.75
4                              Pokemon Red/Pokemon Blue     11.27
...                                                 ...       ...
16593                Woody Woodpecker in Crazy Castle 5      0.01
16594                     Men in Black II: Alien Escape      0.01
16595  SCORE International Baja 1000: The Official Game      0.00
16596                                        Know How 2      0.00
16597                                  Spirits & Spells      0.01

[16598 rows x 2 columns]

In [7]:
data[data.JP_Sales == data.JP_Sales.max()]

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22         1.0        31.37

[1 rows x 11 columns]

## Q4: What was the most common platform of the games being sold before and after 2008?

In [8]:
data['Platform'].value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
WS         6
SCD        6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

## Q5: Write a lambda function, combined with "apply" to create a new column called ***total_na_eu*** which is the total sales of North America and Europe

In [9]:
data['total_na_eu'] = data.apply(lambda x: x['NA_Sales']+x['EU_Sales'], axis = 1)

In [10]:
data['total_na_eu']

0        70.51
1        32.66
2        28.73
3        26.76
4        20.16
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.01
16597     0.01
Name: total_na_eu, Length: 16598, dtype: float64

## Q6: For each of the publishers, display the average global sales per genre of the video games before the year 2010

In [11]:
group_multiple = data.groupby(['Publisher', 'Genre']).mean('Global_Sales')

In [12]:
group_multiple = group_multiple[(group_multiple.Year <= 2010)]

In [13]:
group_multiple

                                              Rank  ...  total_na_eu
Publisher                    Genre                  ...
10TACLE Studios              Adventure     15709.0  ...        0.020
                             Puzzle        14132.0  ...        0.030
                             Strategy      12351.0  ...        0.060
1C Company                   Role-Playing  16452.0  ...        0.010
20th Century Fox Video Games Action         5029.0  ...        0.425
...                                            ...  ...          ...
Zushi Games                  Strategy      14157.5  ...        0.035
bitComposer Games            Racing        14214.0  ...        0.030
fonfun                       Simulation    15273.0  ...        0.000
id Software                  Shooter       14602.0  ...        0.020
responDESIGN                 Sports        12316.5  ...        0.065

[1468 rows x 8 columns]

## Q7: Display the median sales per platform across all the regions(NA, EU, JP, Other and Global)

In [14]:
median_Sales = data.groupby(['Platform']).median()

In [15]:
median_Sales

             Rank    Year  NA_Sales  ...  Other_Sales  Global_Sales  total_na_eu
Platform                             ...
2600       4234.0  1982.0     0.430  ...         0.00         0.460        0.460
3DO       14999.0  1995.0     0.000  ...         0.00         0.020        0.000
3DS        9773.0  2013.0     0.010  ...         0.00         0.120        0.030
DC         9361.5  2000.0     0.000  ...         0.00         0.135        0.000
DS        10306.0  2008.0     0.060  ...         0.01         0.110        0.070
GB         1742.0  1997.0     0.000  ...         0.01         1.165        0.000
GBA        8456.5  2003.0     0.100  ...         0.00         0.165        0.140
GC         8876.5  2003.0     0.110  ...         0.00         0.150        0.140
GEN        8910.0  1993.0     0.000  ...         0.00         0.150        0.000
GG        13527.0  1992.0     0.000  ...         0.00         0.040        0.000
N64        6346.0  1999.0     0.180  ...         0.00         0.270        0.250
NES        1412.5  1986.5     0.405  ...         0.01         1.375        0.485
NG        10613.0  1994.5     0.000  ...         0.00         0.100        0.000
PC        13461.5  2009.0     0.000  ...         0.01         0.040        0.040
PCFX      14559.0  1996.0     0.000  ...         0.00         0.030        0.000
PS         6580.0  1998.0     0.080  ...         0.02         0.260        0.140
PS2        6964.0  2005.0     0.090  ...         0.02         0.230        0.160
PS3        6137.0  2011.0     0.120  ...         0.03         0.280        0.210
PS4        7302.5  2015.0     0.070  ...         0.03         0.220        0.160
PSP       11098.0  2009.0     0.000  ...         0.00         0.090        0.010
PSV       12593.0  2014.0     0.000  ...         0.00         0.060        0.000
SAT        9753.0  1996.0     0.000  ...         0.00         0.120        0.000
SCD       12162.5  1994.0     0.000  ...         0.00         0.065        0.000
SNES       5683.0  1994.0     0.000  ...         0.00         0.320        0.000
TG16      12381.5  1995.0     0.000  ...         0.00         0.080        0.000
WS         7361.5  2000.0     0.000  ...         0.00         0.215        0.000
Wii        7569.0  2009.0     0.140  ...         0.01         0.200        0.170
WiiU       7027.0  2013.0     0.120  ...         0.02         0.230        0.180
X360       6107.0  2010.0     0.170  ...         0.02         0.280        0.250
XB         9094.5  2004.0     0.110  ...         0.01         0.140        0.140
XOne       6827.0  2015.0     0.150  ...         0.02         0.240        0.220

[31 rows x 8 columns]

## Q8: For each of the platforms, what is the most common video game that is sold, its corresponding genre and average global sales. All this data should be printed in a single row

In [16]:
data.groupby(['Platform','Genre']).mean('Global_Sales')

                               Rank         Year  ...  Global_Sales  total_na_eu
Platform Genre                                    ...
2600     Action         4971.000000  1982.054545  ...      0.480984     0.475902
         Adventure      3148.500000  1983.000000  ...      0.850000     0.845000
         Fighting       3412.000000  1980.000000  ...      0.620000     0.615000
         Misc           3872.800000  1980.400000  ...      0.716000     0.708000
         Platform       1858.111111  1981.777778  ...      1.474444     1.455556
...                             ...          ...  ...           ...          ...
XOne     Role-Playing   6538.076923  2015.000000  ...      0.729231     0.663077
         Shooter        4263.636364  2014.878788  ...      1.563939     1.425758
         Simulation     9895.666667  2014.666667  ...      0.180000     0.163333
         Sports         7030.472222  2014.750000  ...      0.665833     0.609167
         Strategy      10675.666667  2014.666667  ...      0.126667     0.120000

[293 rows x 8 columns]

## Q9: Find out the number of video games with the following names present in them:
- Mario
- Pokemon
- Call of Duty
- FIFA

#### The names of the games can have the above strings anywhere. For example we can have "Call of Duty:  Ghosts", "Call of Duty:  Blackops" etc. Similarly we can have "Super Mario", "Mario Kart", "New Super Mario" etc.

In [18]:
li = ["Mario","Pokemon","Call of Duty","FIFA"]
data[data.Name.isin(li)]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, total_na_eu]
Index: []

In [24]:
#contain_values = df[df['month'].str.contains('Ju|Ma')]
subsetDataFrame  = data[data['Name'].str.contains("Mario|Pokemon|Call of Duty|FIFA")]

In [25]:
subsetDataFrame

        Rank  ... total_na_eu
1          2  ...       32.66
2          3  ...       28.73
4          5  ...       20.16
6          7  ...       20.61
8          9  ...       21.65
...      ...  ...         ...
15598  15601  ...        0.01
15804  15807  ...        0.02
15837  15840  ...        0.01
16357  16360  ...        0.00
16542  16545  ...        0.00

[349 rows x 12 columns]